*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #CE8D39;
}
.w-95{
    width: 95%;
}
.w-90{
    width: 90%;
}
.h-50px{
    height: 50px;
}
.w-40{
    width: 40%;
}
.top-25{
    top: 25%;
}
.top-55{
    top: 55%;
}
.top-15{
    top: 15%
}
.top-65{
    top: 65%
}
.bottom-10{
    bottom: 10%;
}
.bg-op{
    background: rgba(69, 61, 61, 0.51);
}
.ft{
    font-size: 12px;
}
.background{
    background: no-repeat center url("assets/img/breaking-bad-pc-wallpaper-4k.jpg");
    background-size: cover;
    height: 100vh;

}
